# Day 9

# Tuples in Python

# Creating a Tuple

In [7]:
my_tuple = (1,2,3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

# Mix Datatypes

In [6]:
my_tuple = (1,"Hello",3.2,4+5j)
print(my_tuple)
print(type(my_tuple))

(1, 'Hello', 3.2, (4+5j))
<class 'tuple'>

# Empty Tuple

In [8]:
my_tuple = ()
print(my_tuple)
print(type(my_tuple))

()
<class 'tuple'>

# Nested Tuples

In [10]:
a = ("data",[1,2,3],(4,5,6))
print(a)
print(type(a))

('data', [1, 2, 3], (4, 5, 6))
<class 'tuple'>

# Creating a tuple with only one item

In [11]:
var1 = ("hello")
print(var1)
print(type(var1))

hello
<class 'str'>

In [13]:
var2 = ("hello",)
print(var2)
print(type(var2))

('hello',)
<class 'tuple'>

In [14]:
var3 = (5,)
print(var3)
print(type(var3))

(5,)
<class 'tuple'>

# Tuple Constructor

In [15]:
a = tuple(("a","b","c"))
print(a)
print(type(a))

('a', 'b', 'c')
<class 'tuple'>

# Indexing

In [16]:
a = (47,48,45,46,48,4,8)
print(a[5])

4

In [18]:
a = (47,48,45,46,48,4,8,"data","python")
print(a[7])

data

In [19]:
a = (47,48,45,46,48,4,8,"data","python")
print(a[-1])

python

# Slicing

In [21]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
len(a)

12

In [22]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[0:6])

(14, 15, 17, 821, 5, 852)

In [2]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[:])

(14, 15, 17, 821, 5, 852, 8, 29, 2, 8, 2, 4)

In [3]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[::2])

(14, 17, 5, 8, 2, 2)

# Reverse

In [4]:
a = (14,15,17,821,5,852,8,29,2,8,2,4)
print(a[::-1])

(4, 2, 8, 2, 29, 8, 852, 5, 821, 17, 15, 14)

In [ ]:
T = (1,2,3,4,5,6,7,8)
print(T[::])
print(T[3:])
print(T[:4])
print(T[-2:-5])

In [5]:
T = (1,2,3,4,5,6,7,8)
print(T[::])

(1, 2, 3, 4, 5, 6, 7, 8)

In [6]:
T = (1,2,3,4,5,6,7,8)
print(T[3:])

(4, 5, 6, 7, 8)

In [7]:
T = (1,2,3,4,5,6,7,8)
print(T[:4])

(1, 2, 3, 4)

In [8]:
T = (1,2,3,4,5,6,7,8)
print(T[-2:-5])

()

In [9]:
t = (1,2,3,5,123,45,24,2,4,3)
print(t)
print(type(t))

(1, 2, 3, 5, 123, 45, 24, 2, 4, 3)
<class 'tuple'>

In [10]:
a = (25,26,27,28,29)
y = list(a)
y.append(30)
a = tuple(y)
print(a)

(25, 26, 27, 28, 29, 30)

In [11]:
a = (25,26,27,28,29)
y = list(a)
y.remove(26)
a = tuple(y)
print(a)

(25, 27, 28, 29)

In [12]:
a = (1,2,3,4,5,6,7,8,9)
del a

In [13]:
print(a)

NameError: name 'a' is not defined

# Loop

In [14]:
thistuple =("a","b","c")
for x in thistuple:
    print(x)

a
b
c

# Join Two Tuple

In [15]:
tuple1 = ("a","b","c")
tuple2 = (1,2,3)
tuple3 = tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply

In [18]:
a = ("a","data","python")
b = a*3
print(b)

('a', 'data', 'python', 'a', 'data', 'python', 'a', 'data', 'python')

In [17]:
t = (1,2,3,4,5,6,7,8)
print(t*2)
print(t+t+t)
print(t+t)
print(len(t))

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)
8

# Write a program, to take 5 input from the user and store it in a tuple

In [19]:
T = ()
i = 0
while i<=5:
    num = int(input("enter the values please"))
    T = T + (num,)
    i = i+1
    print(T)

enter the values please10
(10,)
enter the values please20
(10, 20)
enter the values please30
(10, 20, 30)
enter the values please40
(10, 20, 30, 40)
enter the values please50
(10, 20, 30, 40, 50)
enter the values please60
(10, 20, 30, 40, 50, 60)